        <h2>Add Movie</h2>
        <div>
            <form ng-submit="">
                <input type="text" placeholder="Name" />
                <select>
                        <option value="" disabled selected>Genre</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Horror">Horror</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Action-Adventure">Action-Adventure</option>
                    <option value="Drama">Drama</option>
                    <option value="Documentary">Documentary</option>
                    </select>
    <input type="date" placeholder="Release Date" />
    <input type="time" placeholder="Run Time" />
    <input type="submit" value="" />
            </form>
        </div>
        <h2>Movies</h2>